@model Com.BitsQuan.Option.Ui.Areas.Supervise.Controllers.SummaryModel

<div class="lead">
    <span>总用户数：</span><strong>@Model.Total</strong>
    <span>今日注册数：</span><strong>@Model.Today</strong>
</div>