.zz {
    font-family: "Microsoft YaHei";
    width: 522px;
    overflow: hidden;
    padding: 10px;
    border: 3px solid #747474;
    background-color: #fff;
    z-index: 998;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px #666;
    border-radius: 4px;
}

.zz_tit {
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.pcText {
    overflow: hidden;
    width: 428px;
    height: 125px;
    clear: both;
    margin: 0 auto;
    padding-top: 40px;
    line-height: 24px;
}

.pcFoot {
    overflow: hidden;
    margin-bottom: 60px;
}

.center {
    text-align: center;
}

.pcFoot a {
    display: inline-block;
    width: 115px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin: 0 30px;
}

.bgColor1 {
    background: #2f73c0;
}

.bgColor2 {
    background: #ff862d;
}

.color5 {
    color: #2f73c0;
}

.ft_16 {
    font-size: 16px;
}

.ft_14 {
    font-size: 14px;
}
