@charset "utf-8";
/* CSS Document */
body {
    background-color: #f2f2f2;
}

* {
    border: none;
    font-style: normal;
    font-family: "微软雅黑";
    font-size: 14px;
    border: 0px;
    text-decoration: none;
    list-style: none;
    margin: 0;
    text-decoration: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
/*数据栏*/
.loding {
    overflow: hidden;
    background-color: #000;
}

    .loding div {
        width: 1000px;
        margin: 0 auto;
    }

    .loding p {
        line-height: 36px;
        font-family: "微软雅黑";
        font-size: 14px;
        float: left;
        width: 750px;
        color: #FFF;
        display: block;
    }

    .loding a {
        line-height: 36px;
        font-family: "微软雅黑";
        font-size: 14px;
        float: left;
        margin-left: 110px;
        color: #FFF;
    }


/*导航和LOGO*/
.logobox {
    width: 1000px;
    margin: 0 auto;
}

.nav_logo {
    overflow: hidden;
}

.logo {
    float: left;
    padding-top: 10px;
}

.nav {
    float: left;
    margin-left: 200px;
    margin-top: 26px;
}

    .nav a {
        font-family: "微软雅黑";
        font-size: 16px;
        color: #545454;
        margin-left: 30px;
        line-height: 50px;
    }

        .nav a:hover {
            color: #559be9;
        }

.border {
    border-bottom: 2px solid #767676;
    margin-bottom: 20px;
}

.box {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
}
/*比特币指数*/
.title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #4b95d9;
    line-height: 50px;
    width: 220px;
    text-align: center;
}

.btcnumber {
    font-size: 30px;
    color: #666666;
    font-weight: bold;
    line-height: 60px;
    float: left;
    width: 400px;
    text-align: center;
    height: 60px;
}

.max p {
    font-size: 18px;
    line-height: 22px;
    width: 300px;
    text-align: justify;
}

.max {
    height: 60px;
    float: left;
    padding-top: 10px;
}

.min p {
    font-size: 18px;
    line-height: 22px;
    width: 300px;
    text-align: justify;
}

.min {
    height: 60px;
    float: left;
    padding-top: 10px;
}

.mainbox {
    background-color: #edf6ff;
    height: 60px;
    width: 1000px;
}

.main {
    overflow: hidden;
}
/*数据来源*/
.tablebox {
    text-align: center;
    overflow: hidden;
    width: 1000px;
}

    .tablebox tr {
        line-height: 30px;
    }

        .tablebox tr:nth-child(odd) {
            background-color: #edf6ff;
        }

.tabletitle {
    font-weight: bold;
    background-color: #edf6ff;
}

.nub {
    color: #ff0000;
}

.nub1 {
    color: #5a9d3d;
}

/*比特币价格指数说明*/
.textbox {
    width: 1000px;
}

.text {
    line-height: 20px;
    margin-top: 10px;
}

/*页脚*/
.foot a {
    color: #cccccc;
    font-size: 16px;
    display: inline-block;
    width: 64px;
    margin-right: 53px;
    line-height: 55px;
    padding-top: 16px;
}

.foot {
    background-color: #535353;
    width: 100%;
    margin-top: 30px;
}

.copyright {
    color: #cccccc;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    line-height: 60px;
}

.msg {
    width: 704px;
    margin: 0 auto;
}

.msgbox {
    width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #cccccc;
}
