
    

   #myindex{
        padding:0px 2px;
        background-color:#d8e2bd;
        font-weight:600;
        line-height:1em;
        font-size:0.9em;
    }
    #myindex > span{
         display:inline-block;
         padding:5px 2px; 
    }
    #myindex >span:nth-child(2n+1){  
        text-align:right;
        margin-left:2px; 
    }
    #myindex > span:nth-child(2n+2){ 
        color:#7a4562;
        text-align:left; 
    }
