<style>
        /*页脚*/
        .foot a {
            color: #cccccc;
            font-size: 16px;
            display: inline-block;
            width: 64px;
            margin-right: 53px;
            line-height: 55px;
            padding-top: 16px;
        }

        .foot {
            background-color: #535353;
            width: 100%;
        }

        .copyright {
            color: #cccccc;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            line-height: 60px;
        }

        .msg {
            width: 704px;
            margin: 0 auto;
        }

        .msgbox {
            width: 1000px;
            margin: 0 auto;
            border-bottom: 1px solid #cccccc;
        }
    </style><div class="foot">
    <div class="msgbox">
        <p class="msg" style="width:900px;margin:0px auto;text-align:center">
            <a href="/WebHelper/about">关于我们</a>
            <a href="/WebHelper/index">联系我们</a>
            <a href="/WebHelper/fee">费率标准</a>
            <a href="/WebHelper/rules">交易规则</a>
            <a href="/WebHelper/faq">用户帮助</a>
            <a href="/WebHelper/law">法律说明</a>
            <a href="/WebHelper/service">服务条款</a>
        </p>
    </div>
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan style='display%3Anone%3B' id='cnzz_stat_icon_1253252908'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/z_stat.php%3Fid%3D1253252908%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <p class="copyright">CopyRight &copy;2015&nbsp;&nbsp;比权网络科技（上海）有限公司&nbsp;沪ICP备14004256号-1</p>
</div>
