<div class="row" style="background-color:#535353;color:#cccccc;padding:20px;margin-bottom:80px;">
    <div class="col-sm-2 col-xs-2" >
        <a href="/WebHelper/index">联系我们</a>
    </div>
    <div class="col-sm-2 col-xs-2">
        <a href="/WebHelper/fee">费率标准</a>
    </div>
    <div class="col-sm-2 col-xs-2">
        <a href="/WebHelper/rules">交易规则</a>
    </div>
    <div class="col-sm-2 col-xs-2">
        <a href="/WebHelper/faq">用户帮助</a>
    </div>
    <div class="col-sm-2 col-xs-2">
        <a href="/WebHelper/law">法律说明</a>
    </div>
    <div class="col-sm-2 col-xs-2">
        <a href="/WebHelper/service">服务条款</a>
    </div>
</div>

