<style>
    .txt {
        width: 300px;
        height: 25px;
    }
</style>

<div style="margin:50px;line-height:50px">
    <table>
        <tr>
            <td><span class="btn btn-danger">开启英航转账汇款</span></td>
            <td><input class="txt" /></td>
        </tr>
        <tr>
            <td><span class="btn btn-danger">开启在线支付</span></td>
            <td><input class="txt" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="保存" class="btn btn-danger" /></td>
        </tr>
    </table>



</div>