@{
    ViewBag.Title = "关于我们-最好的期权交易平台_比权网";
}
@Styles.Render("~/content/webhelper.css")
<!--内容-->
<div class="box">
    <div class="text">
        <h2 class="article_title" style="margin: 0px 10px; padding: 10px; list-style: none; white-space: normal; font-family: 'helvetica neue', 'hiragino sans gb', stheiti, 'microsoft yahei', Tahoma, Arial, STHeiti, sans-serif; font-weight: 400; line-height: 40px; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 22px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); text-align: center; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei';">关于我们</span>
        </h2>
        <h4 class="sub_title" style="margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; white-space: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
            网站简介
        </h4>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            &nbsp;<span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px;"><span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">比权网（<a href="http://bitsquan.com" target="_self">bitsquan.com</a>）</span><span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">是全球领先的比特币期权交易平台，平台致力于为投资者提供专业、安全、诚信的数字货币交易服务。目前公司团队管理和工程师团队由各行业的精英组成；在世界顶尖的互联网、电子商务和支付系统公司有多年的工作经</span></span></span><span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">验，团队成员经历涵盖互联网、金融、风险投资、管理咨询、安全技术、IT 服务、国际贸易等多个领域。</span></span>
        </p>
        <h4 class="sub_title" style="margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; white-space: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
            我们的技术
        </h4>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            &nbsp;&nbsp;<span style="margin: 0px; padding: 0px; color: rgb(50, 157, 220); font-family: 'Microsoft YaHei', Arial, Verdana, sans-serif, 'Segoe UI', Tahoma; font-weight: bold; line-height: 19px;">&nbsp;<span style="margin: 0px; padding: 0px;">1、银行级SSL安全连接 &nbsp; &nbsp; &nbsp;&nbsp;</span></span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">&nbsp; &nbsp;所有在互联网上传输的数据都经过128位加密算法加密，确保数据不会被恶意截取。</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">&nbsp; &nbsp;<span style="margin: 0px; padding: 0px; font-family: 'Microsoft YaHei', Arial, Verdana, sans-serif, 'Segoe UI', Tahoma; line-height: 19px; color: rgb(50, 157, 220); font-weight: bold;">2、冷存储 &nbsp; &nbsp;</span></span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px;"><span style="margin: 0px; padding: 0px; font-family: 'Microsoft YaHei', Arial, Verdana, sans-serif, 'Segoe UI', Tahoma; line-height: 19px; color: rgb(101, 109, 120); font-weight: bold;">&nbsp; &nbsp;</span><span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">大部分比特币都存储在离线帐户上，当我们收到您的比特币充值时，它将直接发送至我们的离线帐户，确保您的资金绝对安全。</span></span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">&nbsp; &nbsp;<span style="margin: 0px; padding: 0px; font-family: 'Microsoft YaHei', Arial, Verdana, sans-serif, 'Segoe UI', Tahoma; line-height: 19px; text-indent: 2em; color: rgb(50, 157, 220); font-weight: bold;">3、GSLB和分布式服务器</span></span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px;"><span style="margin: 0px; padding: 0px; font-family: 'Microsoft YaHei', Arial, Verdana, sans-serif, 'Segoe UI', Tahoma; line-height: 19px; text-indent: 2em; color: rgb(50, 157, 220); font-weight: bold;">&nbsp;&nbsp;</span><span style="margin: 0px; padding: 0px; font-family: 'Microsoft YaHei', Arial, Verdana, sans-serif, 'Segoe UI', Tahoma; line-height: 19px; color: rgb(101, 109, 120); font-weight: bold;">&nbsp;</span><span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">我们采用了分布式集群技术，确保网站永远在线.目前我们正在采购多个数据中心的服务器，在不同的数据中心之间做负载均</span></span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">&nbsp; &nbsp;衡，以确保交易平台的稳定。</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">&nbsp;&nbsp;&nbsp;<span style="margin: 0px; padding: 0px; font-family: 'Microsoft YaHei', Arial, Verdana, sans-serif, 'Segoe UI', Tahoma; line-height: 19px; text-indent: 2em; color: rgb(50, 157, 220); font-weight: bold;">4、多重安全保障</span></span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">&nbsp; &nbsp;采用实名认证安保、离线BTC钱包、手机短信验证等多重安全保障手段，确保您账户安全。</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 'Microsoft YaHei', Arial, Verdana, sans-serif, 'Segoe UI', Tahoma; line-height: 19px; text-indent: 2em; color: rgb(50, 157, 220); font-weight: bold;">&nbsp; &nbsp;5、比特币充值实时监控和到账</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px;"><span style="margin: 0px; padding: 0px; font-family: 'Microsoft YaHei', Arial, Verdana, sans-serif, 'Segoe UI', Tahoma; line-height: 19px; text-indent: 2em; color: rgb(50, 157, 220); font-weight: bold;">&nbsp;&nbsp;</span>&nbsp;<span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">为了您的交易安全，我们遵循比特币网络的设计原理，在收到1个确认以后，充值即可成功，并且我们提供了实时监控</span></span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;">&nbsp; &nbsp;确认数的功能，让您清楚了解比特币充值状态。</span>
        </p>
        <p>
            <br />
        </p>
        <p>
            <br />
        </p>
        <p>
            <br />
        </p>
    </div>
</div>

