@{
    ViewBag.Title = "用户帮助-最好的比特币期权交易平台";
}
@Styles.Render("~/content/webhelper.css")

<div class="box">
    <div class="text">
        <div style="width:1000px;margin:auto;">
            <h2 class="article_title" style="margin: 0px 10px; padding: 10px; list-style: none; white-space: normal; font-family: 'helvetica neue', 'hiragino sans gb', stheiti, 'microsoft yahei', Tahoma, Arial, STHeiti, sans-serif; font-weight: 400; line-height: 40px; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 22px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); text-align: center; background-color: rgb(255, 255, 255);">
                <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei';">用户帮助</span>
            </h2>
            <div class=" btn-group btn-group-lg btn-group-justified" style="margin-top:10px;margin-bottom:20px;">
                <a data-tar="#barbasic" data-type="btn" class="btn btn-primary">FAQ基本问题</a>
                <a data-tar="#barwords" data-type="btn" class="btn btn-default">期权名词说明</a>
            </div>

            <div id="content">
                <p style="text-indent:32px;line-height:32px">
                    <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">比权网是国内首家比特币期权交易平台，平台旨在为用户提供安全、便捷、可靠的虚拟货币现货、期权交易服务，用户可在比权网进行比特币交易、不同期权合约套利等操作，体验一站式期权交易服务。</span>
                </p>
                <p style="text-indent:32px;line-height:32px"></p>
                <div id="barbasic">
                    <p style="text-indent:32px;line-height:32px">
                        <span class="glyphicon glyphicon-paperclip" style="font-size: 30px; padding-right: 10px;"></span>
                        <span style="font-family: 微软雅黑, 'Microsoft YaHei';"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">FAQ基本问题</span></strong></span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">1. 如何注册？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">输入“用户名”、“电子邮箱”“登录密码”和“交易密码”提交注册 进入邮箱，查收比权网注册邮件，点击链接激活账户， 注册完成。</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">2. 如何登录？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">在登录页面输入用户名和密码，即可完成登录。</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">3. 忘记密码怎么办？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">在登录页点击“忘记密码”，输入“电子邮箱”和“验证码”，进入邮箱确认并重设新的密码。</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">4. 如何修改账号信息？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">点击“安全中心”可进行修改登录密码、交易密码和手机绑定等信息。</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">5. 如何变更实名认证信息？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">根据国家的相关法律法规，需要对所有的注册用户进行实名制信息登记，若用户实名认证信息需要变更时，请联系网站在线客服，提供用户名、绑定手机号、注册邮箱等信息后即可变更。</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">6.&nbsp;什么是保证金账户？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">网站中比特币交易所涉及到的资金变动，是通过现金账户，而期权合约交易涉及到的资金则通过保证金账户。若保证金帐号内资金不足时，需要通过“资金中心”—“保证金操作”进行操作。</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">7. 一张合约怎么计算？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">比权网一张期权合约代表0.1比特币。</span>
                    </p>
                </div>
                <div id="barwords" class="hidden">
                    <p style="text-indent:32px;line-height:32px">
                        <span class="glyphicon glyphicon-paperclip" style="font-size:30px;padding-right:10px;"></span>
                        <span style="font-family: 微软雅黑, 'Microsoft YaHei';"><strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;">期权名词说明</span></strong><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 16px;"><br /></span></span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 1. 什么是期权？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">期权也称选择权，是指期权的买方有权在约定的期限内，按照事先约定的价格，买入或卖出一定数量的某种特定商品或金融工具的权利。比特币期权，即比特币指数期权，期权购买者通过支付一笔期权费给期权出售方，换取在未来某个时间以某种价格买进或卖出基于比特币指数的标的物的权利。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 2. 什么是开仓？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">开仓也叫建仓，是指投资者新买入或新卖出一定数量的期权合约，在交易中通常有两种操作方式，一种是看涨行情做多头（买方），另一种是看跌行情做空头（卖方）。无论是做多或做空，下单买卖就称之为&quot;开仓&quot;。也可理解为在交易中，无论是买还是卖，凡是新建头寸都叫开仓。</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">例如：假设甲想买入10份2015年6月交割的比特币期权合约，正好乙想卖出10份，那么两者发生成交，两人都同时开仓，分别叫“买入开仓”和“卖出开仓”。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 3. 什么是平仓？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">平仓是指交易者对手中的合约进行反向交易的行为称“平仓”或“对冲”。为防止亏损过多而采取的止损平仓措施，也叫“斩仓”。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 4.&nbsp;什么是认购期权？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">认购期权又被称为看涨期权，是指买方可以在特定日期按照特定价格买入约定数量合约标的的期权合约</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 5. 什么是认沽期权？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">认沽期权又被称为认沽期权，指买方可以在特定日期按照特定价格卖出约定数量合约标的的期权合约。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 6. 什么是权利仓？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">权利仓是指期权合约买入开仓形成的持仓。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 7. 什么是义务仓？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">义务仓是指期权合约卖出开仓及备兑开仓形成的持仓。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 8. 什么是行权？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">行权是指期权合约持有人有权要求发行人按照约定时间、价格和方式履行约定的义务的行为。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 9. 什么是行权价格？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">行权价格是指期权合约规定的、在期权买方行权时买入、卖出合约标的的交易价格。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 10. 什么是权利金？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">权利金是指期权买方向卖方支付的用于购买期权合约的对价。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 11. 什么是保证金？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">期权保证金是指为了保证到期能履行义务，期权卖方向结算机构（交易所或结算公司）支付的保证金。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 12. 什么是维持保证金？</span>
                    </p>
                    <p style="text-indent:24px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; 维持保证金是指结算参与人存入保证金账户，用于担保合约履行且已被合约占用的保证金。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 13. 什么是是隐含波动率？</span>
                    </p>
                    <p style="text-indent: 0px; line-height: 32px;">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; &nbsp;隐含波动率是表示期权价格所体现的对于未来波动率的预期。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 14. 什么是历史波动率？</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">历史波动率是指投资收益率在过去一段时间内所表现出的波动率，它是由标的场资产价格过去一段时间的历史数据计算而得。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 15. 什么是熔断机制？</span>
                    </p>
                    <p style="text-indent:24px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; 熔断机制（Circuit Breaker），是指为了应对某一合约发生剧烈波动时，设置一个熔断价格，使合约买卖报价在一段时间内只能在这一价格范围内交易的机制。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 16. 五种交易指令</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; &nbsp;限价GFD：即普通限价申报，是指按限定的价格或低于限定的价格申报买入期权合约，按限定的价格或高于限定的价格申报卖出期权合约，未成交部分可以撤销。</span>
                    </p>
                    <p style="text-indent:24px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; 市价剩余转限价GFD：是指按市场可执行的最优价格买卖期权合约，未成交部分按本方申报最新成交价格转为普通限价申报；如该申报无成交的，按本方最优报价转为限价申报；如无本方申报的，该申报撤销。</span>
                    </p>
                    <p style="text-indent:24px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; 市价IOC：是指按市场可执行的最优价格买卖期权合约，未成交部分自动撤销</span>
                    </p>
                    <p style="text-indent:24px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; 限价FOK：是指按限定的价格或者优于限定的价格买卖期权合约，所申报的数量如不能立即全部成交则自动全部撤销。</span>
                    </p>
                    <p style="text-indent:24px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; 市价FOK：是指按市场可执行的最优价格买卖期权合约，所申报的数量如不能立即全部成交则自动全部撤销。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp;17.期权交易与期货交易有哪些区别？</span>
                    </p>
                    <p style="text-indent:16px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp;(1)&nbsp;&nbsp;当事人的权利义务不同：</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; 期权合约是非对称性的合约，期权的买方只享有权利而不承担义务，卖方只承担义务而不享有权利；期货合约当事人双方的权利与义务是对等的，也就是说在合约到期时，持有人必须按照约定价格买入或卖出标的物（或进行现金结算）。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp;&nbsp;(2)&nbsp;&nbsp;收益风险不同：</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp;&nbsp;在期权交易中，投资者的风险和收益是不对称的。具体为，期权买方承担有限风险（即损失权利金的风险）而盈利则有可能是无限的，期权卖方享有有限的收益（以所获得权利金为限）而其潜在风险可能无限；期货合约当事人双方承担的盈亏风险是对称的。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; (3) &nbsp;保证金制度不同：</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp;&nbsp;在期权交易中，期权卖方应当支付保证金，而期权买方无需支付保证金；在期货交易中，无论是多头还是空头，持有人都需要以一定的保证金作为抵押。</span>
                    </p>
                    <p style="line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; (4) &nbsp;套期保值与盈利性的权衡：</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">投资者利用期权进行套期保值的操作中，在锁定管理风险的同时，还预留进一步盈利的空间，即合约标的价格往不利方向运动时可及时锁定风险，往有利方向运动时又可以获取盈利；投资者利用期货合约进行套期保值的操作中，在规避不利风险的同时也放弃了收益变动增长的可能。</span>
                    </p>
                    <p style="text-indent:32px;line-height:32px">
                        <span style="font-size: 16px; font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp;</span>
                    </p>
                    <p>
                        <span style="font-family: 微软雅黑, 'Microsoft YaHei';">&nbsp;</span>
                    </p>
                    <p>
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('a[data-type="btn" ]').click(function () {
            var th = $(this);
            var tar = th.data("tar");
            $('a[data-type="btn" ]').each(function (i, j) {
                var tth = $(j);
                var ttar = tth.data("tar");
                if (ttar != tar) {
                    tth.removeClass("btn-primary");
                    tth.addClass("btn-default")
                    $(ttar).addClass("hidden");
                }
                else {
                    tth.addClass("btn-primary");
                    tth.removeClass("btn-default")
                    $(ttar).removeClass("hidden");
                }
            });
        })
    })
</script>
