@{
    ViewBag.Title = "费率标准-最好的比特币期权交易平台";
}
@Styles.Render("~/content/webhelper.css")
<!--内容-->
<div class="box">
    <div class="text">
        <h2 class="article_title" style="margin: 0px 10px; padding: 10px; list-style: none; white-space: normal; font-family: 'helvetica neue', 'hiragino sans gb', stheiti, 'microsoft yahei', Tahoma, Arial, STHeiti, sans-serif; font-weight: 400; line-height: 40px; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 22px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); text-align: center; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei';">费率标准</span>
        </h2>
        <h4 class="sub_title" style="margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; white-space: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
            费用说明<br />
        </h4>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">充值费率</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人民币充值：免费</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">比特币充值：免费</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">提现费率</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人民币提现：0.2%，最低1元，最低提现金额为200元</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">比特币提现：每笔&nbsp;0.0001&nbsp;比特币</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">交易费率</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">比特币交易：0%</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">比特币期权交易：0.1%，每笔最低手续费为0.1元</span>
        </p>
        <h4 class="sub_title" style="margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; white-space: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
            服务时间
        </h4>
        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人民币充值处理时间：9：00--18：00</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">人民币提现处理时间：9：00--18:00，20：00-21：00</span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <font face="微软雅黑, Microsoft YaHei"><span style="font-size: 14px;">比特币充值提现审核工作时间：<span style="color: rgb(102, 102, 102); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">7</span><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; color: rgb(51, 51, 51); line-height: 25.2000007629395px; text-indent: 28px; background-color: rgb(255, 255, 255);">×<span style="color: rgb(102, 102, 102); line-height: 29px; text-indent: 32px;">24小时人工审核</span></span></span></font>
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
            <br />
        </p>
        <p>
            <br />
        </p>
    </div>

</div>

