@{
    ViewBag.Title = "联系我们-最好的比特币期权交易平台";
}

<div class="box">
    <div class="text">
        <div class="container">
            <h2 class="article_title" style="margin: 0px 10px; padding: 10px; list-style: none; white-space: normal; font-family: 'helvetica neue', 'hiragino sans gb', stheiti, 'microsoft yahei', Tahoma, Arial, STHeiti, sans-serif; font-weight: 400; line-height: 40px; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 22px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); text-align: center; background-color: rgb(255, 255, 255);">
                联系我们<br />
            </h2>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 20px; white-space: normal; text-align: center; background-color: rgb(255, 255, 255);">
                <br style="margin: 0px; padding: 0px;" />
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 20px; white-space: normal; text-align: center; background-color: rgb(255, 255, 255);">
                <img width="530" height="340" src="http://api.map.baidu.com/staticimage?center=121.432287,31.186602&zoom=18&width=530&height=340&markers=121.432287,31.186602" style="margin: 0px; padding: 0px; border: 0px currentcolor; border-image-source: none; vertical-align: middle; list-style: none;" />
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 20px; white-space: normal; background-color: rgb(255, 255, 255);">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 20px; white-space: normal; background-color: rgb(255, 255, 255);">
                <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 28px;">客户服务热线：400-001-0672（7*24小时） &nbsp; &nbsp;&nbsp;</span><br style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 28px;" /><span style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 28px;">客服QQ：4000010672</span></span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 20px; white-space: normal; background-color: rgb(255, 255, 255);">
                <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 28px;">新浪微博：<a href="http://weibo.com/bitsquan" target="_blank" style="margin: 0px; padding: 0px; text-decoration: none; color: rgb(102, 102, 102); outline: none;">weibo.com/bitsquan</a></span></span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; line-height: 20px; white-space: normal; background-color: rgb(255, 255, 255);">
                <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 28px;">投诉建议：service@bitsquan.com&nbsp;</span><br style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 28px;" /><span style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 28px;">公司地址：上海市徐汇区宜山路515号环线广场1号楼13楼A室</span></span>
            </p>
            <h4 class="sub_title" style="margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; white-space: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
                官方QQ群：
            </h4>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
                <span style="margin: 0px; padding: 0px; font-size: 16px;">●</span>&nbsp;&nbsp;&nbsp;<span style="margin: 0px; padding: 0px; line-height: 28px; font-size: 16px;">比权网官方交流群1：384234827</span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
                <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px;">●</span><span style="margin: 0px; padding: 0px; line-height: 25px;"></span></span>&nbsp; &nbsp;<span style="margin: 0px; padding: 0px; line-height: 28px; font-size: 16px;">比权网官方交流群2：281872036 &nbsp; &nbsp;</span>
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
                <br />
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
                <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;"><br /></span></span><br />
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
                <br />
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
                <br />
            </p>
            <p>
                <br />
            </p>
            <p>
                <br />
            </p>
        </div>
    </div>

</div>

