@{
    ViewBag.Title = "法律说明-最好的比特币期权交易平台";
}
<style>
    .box {
        border-top: 1px solid #c2c2c2;
        background-color: #f7f7f7;
        margin-top: 10px;
        padding-bottom: 130px;
    }

    .text {
        width: 1000px;
        margin: 0 auto;
        margin-top: 35px;
        background-color: #FFF;
        border: 1px solid #ebebeb;
        padding-bottom: 100px;
    }

        .text h1 {
            font-size: 22px;
            color: #3f3f3f;
            text-align: center;
            font-weight: normal;
            margin-bottom: 20px;
        }

    .titlebox {
        border-bottom: 1px solid #dfdfdf;
        width: 940px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .text1 li {
        line-height: 30px;
    }

    .text1 ul {
        margin-top: 20px;
        margin-left: 30px;
    }
</style>
<div class="box">
    <div class="text">
        <div style=" width:1000px;height:auto;padding:25px;color:#666666;line-height:20px;border-top:1px solid #C9C8C8" >
            <h2 class="article_title" style="margin: 0px 10px; padding: 10px; list-style: none; white-space: normal; font-family: &#39;helvetica neue&#39;, &#39;hiragino sans gb&#39;, stheiti, &#39;microsoft yahei&#39;, Tahoma, Arial, STHeiti, sans-serif; font-weight: 400; line-height: 40px; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 22px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); text-align: center; background-color: rgb(255, 255, 255);">
                <span style="margin: 0px; padding: 0px; font-family: 微软雅黑,'Microsoft YaHei';">法律声明</span>
            </h2>
            <p>
                <br />
            </p>
            <ul style="list-style-type: none;" class=" list-paddingleft-2">
                <li>
                    <p>
                        <span style="color: rgb(102, 102, 102); font-family: 微软雅黑，'Microsoft YaHei'; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">第一条：本网站旨在不违反国家法律法规的前提下，为广大比特币爱好者提供便利的交易方式。</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span style="color: rgb(102, 102, 102); font-family: 微软雅黑, 'Microsoft YaHei';font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">第二条：禁止使用本网站从事洗钱、走私等一切非法交易活动，若发现此类事件，本站将冻结账户，立即报送公安机关。</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span style="color: rgb(102, 102, 102); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">第三条：本网站使用者因为违反本声明的规定而触犯中华人民共和国法律的，一切后果自己负责，本网站不承担任何责任。</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span style="color: rgb(102, 102, 102); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">第四条：凡以任何方式登录本网站或直接、间接使用本网站者，均视为自愿接受本网站声明。</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span style="color: rgb(102, 102, 102); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">第五条<span style="color: rgb(102, 102, 102); font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">：本声明未涉及的问题参见中华人民共和国有关法律法规，当本声明与中华人民共和国有关法律法规冲突时，以国家法律法规为准。</span></span>
                    </p>
                </li>
            </ul>
        </div>

    </div>

</div>

