@{
    ViewBag.Title = "法律说明-最好的比特币期权交易平台";
}

<div class="box">
    <div class="text">
        <h2 class="article_title" style="margin: 0px 10px; padding: 10px; list-style: none; white-space: normal; font-family: 'helvetica neue', 'hiragino sans gb', stheiti, 'microsoft yahei', Tahoma, Arial, STHeiti, sans-serif; font-weight: 400; line-height: 40px; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 22px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); text-align: center; background-color: rgb(255, 255, 255);">
            <span style="margin: 0px; padding: 0px; font-family: 微软雅黑,'Microsoft YaHei';">法律声明</span>
        </h2>
        <p>
            <br />
        </p>
        <ul style="list-style-type: none;" class=" list-paddingleft-2">
            <li>
                <p>
                    <span style="color: rgb(102, 102, 102); font-family: 微软雅黑，'Microsoft YaHei'; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">第一条：本网站旨在不违反国家法律法规的前提下，为广大比特币爱好者提供便利的交易方式。</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color: rgb(102, 102, 102); font-family: 微软雅黑, 'Microsoft YaHei';font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">第二条：禁止使用本网站从事洗钱、走私等一切非法交易活动，若发现此类事件，本站将冻结账户，立即报送公安机关。</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color: rgb(102, 102, 102); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">第三条：本网站使用者因为违反本声明的规定而触犯中华人民共和国法律的，一切后果自己负责，本网站不承担任何责任。</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color: rgb(102, 102, 102); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">第四条：凡以任何方式登录本网站或直接、间接使用本网站者，均视为自愿接受本网站声明。</span>
                </p>
            </li>
            <li>
                <p>
                    <span style="color: rgb(102, 102, 102); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">第五条<span style="color: rgb(102, 102, 102); font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px; line-height: 29px; text-indent: 32px; background-color: rgb(255, 255, 255);">：本声明未涉及的问题参见中华人民共和国有关法律法规，当本声明与中华人民共和国有关法律法规冲突时，以国家法律法规为准。</span></span>
                </p>
            </li>
        </ul>
    </div>

</div>

