<div class="text-center">
    @if(ViewBag.Type == 1){
        <img src="~/content/images/help/payflow.jpg" width="1000" />
    }else if(ViewBag.Type == 2){
        <img src="~/content/images/help/withdrawflow.jpg" width="1000" />
    }
</div>