@{ViewBag.Title = "交易规则-最好的比特币期权交易平台"; } @Styles.Render("~/content/webhelper.css")
<div class="box">
    <div class="text">
        <div style="width:1000px;margin:auto;padding:0 30px 0 30px;">
            <h2 class="article_title" style="margin: 0px 10px; padding: 10px; list-style: none; white-space: normal; font-family: 'helvetica neue', 'hiragino sans gb', stheiti, 'microsoft yahei', Tahoma, Arial, STHeiti, sans-serif; font-weight: 400; line-height: 40px; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 22px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); text-align: center; background-color: rgb(255, 255, 255);"> <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei';">期权交易规则</span> </h2> <p style="text-indent: 32px;line-height: 32px"> <strong><span style="font-size:16px;font-family: '微软雅黑','sans-serif'"><br /></span></strong> </p>
            <p class="MsoNormal" style="text-align:center;">
                <span style="font-family:宋体;font-weight:bold;font-size:15.0000pt;"></span>
            </p>
            <p style="font-family:sans-serif;font-size:15.555556297302246px;">
                <span style="font-family:微软雅黑, 'Microsoft YaHei';"><strong><span style="font-family:宋体;"><span style="font-family:微软雅黑, 'Microsoft YaHei';font-size:12px;"><strong><span style="font-family:宋体;"><strong></strong></span></strong></span></span></strong></span>
            </p>
            <p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;text-align:justify;">
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <strong><span style="font-size:16px;font-family:微软雅黑, sans-serif;">一. 期权合约</span></strong>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">1.&nbsp;比权网所称期权合约，是指比权网统一制定的、规定买方可以在将来特定时间以特定价格买入或者卖出约定虚拟货币等标的物的标准化合约。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.&nbsp;比权网根据公开、公平、公正和诚实信用的原则组织期权交易，并对与本平台期权交易有关的业务活动进行自律监管。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3.&nbsp;期权合约条款主要包括合约代码、合约简称、合约标的、合约类型、行权日、合约单位、行权价格、行权方式、交割方式等。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">根据市场需要，本平台可以对合约条款进行调整。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">4.&nbsp;期权合约的到期日为行权日。期权合约的最后交易日和行权日，同其到期日；行权日的具体行权时间为行权日16点整。行权日因异常情况等原因导致系统未能正常交易的，以交易恢复日的16点整为行权日，16点整以后恢复的，以下一日16点整为期权行权日。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">5．期权合约单位因不同标的物有所不同。比特币期权合约的合约单位为0.1比特币。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">本平台将根据标的物的价格变动情况不断调整期权合约的合约单位，请市场参与者重视期权合约单位变动的公告，交易平台在期权合约的简称处给出明确的期权合约单位提示。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;font-weight:700;">二.上市与挂牌</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">1．本平台根据选定的合约标的，确定上市的期权合约品种，并按照不同合约类型、到期日及行权价格，挂牌相应数量的期权合约。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.&nbsp;期权合约到期后，本平台持续加挂新到期日的合约。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">合约标的价格发生变化，导致已挂牌合约中的虚值合约或者实值合约数量不足时，本平台于下一交易日16点整依据行权价格间距，依序加挂新行权价格的合约。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3．期权合约的合约单位、行权价格发生调整的，交易代码及合约简称同时调整，交易与结算按照调整后的合约条款进行。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;font-weight:700;">三. 交易</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">1．一般规定</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">1.1&nbsp;本平台期权采用24小时连续不间断交易方式。期权合约在行权当日16点完成期权合约的行权交割，并加挂新的期权合约。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">1.2&nbsp;投资者参与期权交易，应当遵守风险自负原则，审慎决策，自愿参与期权交易并依法独立承担风险，不得以不了解交易规则为由，拒绝承担期权交易结果及履约责任。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">1.3&nbsp;期权买卖资金的结算</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">期权买开和买平通过期权保证金账户结算，不占用期权保证金，买开成交时，按照成交价和成交数量的乘积减少期权保证金账户中的资金，同时扣除佣金；买平成交时，按照成交价和成交数量的乘积增加期权保证金账户中的资金，同时扣除佣金。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">期权卖开和卖平通过期权保证金账户结算，卖开成交时，按照成交价和成交数量的乘积增加期权保证金账户中的资金，并扣除佣金，同时根据维持保证金公式计算所占用的维持保证金，维持保证金数量不断变化，但在期权保证金账户中不形成资金流水。买平成交时，按照成交价和成交数量的乘积减少期权保证金账户中的资金，并扣除佣金。同时释放期权维持保证金。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">期权保证金帐户发生系统亏损时不涉及用户现金账户资金增减，若开通期权保证金自动转入功能，当期权合约发生爆仓时，则会从现金账户划转部分资金至期权保证金账户。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2．委托与申报</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.1&nbsp;期权合约的买卖类型，包括买入开仓、买入平仓、卖出开仓、卖出平仓等。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.2&nbsp;期权合约的委托类型，包括普通限价委托、市价剩余转限价委托、市价剩余撤消委托、全额即时限价委托、全额即时市价委托等。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.3&nbsp;期权合约买方应当支付权利金；期权合约卖方收取权利金，并按规定交纳保证金。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.4&nbsp;投资者进行买入平仓委托的，须持有相应义务仓。买入平仓的委托数量超过所持有的义务仓的，该笔委托无效。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.5&nbsp;投资者进行卖出平仓委托的，须持有相应权利仓。卖出平仓的委托数量超过所持有的权利仓的，该笔委托无效。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.6&nbsp;同一合约账户持有的同一期权合约的权利仓和义务仓进行自动对冲。持有权利仓并已经成功提交卖平委托的且未成交或部分成交的，系统禁止进行卖开操作；持有义务仓并已经成功提交买平委托的且未成交或部分成交的，系统禁止进行买开操作。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.7&nbsp;交易参与人的下列限价申报和市价申报指令：</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">普通限价申报、市价剩余转限价申报、市价剩余撤销申报、全额即时限价申报、全额即时市价申报、本平台规定的其他申报类型。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.8&nbsp;期权合约的交易单位为张。期权交易的申报单位为1张或者其整数倍，比特币每份期权合约投资者每分钟的下单量不得超过100份，系统买平和系统卖平不受限制。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">根据市场需要，本平台可以调整投资者每分钟买卖申报的最小和最大数量。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.9&nbsp;期权合约交易的委托、申报及成交价格为每份合约单位对应的权利金的金额，申报价格最小变动单位为0.01元人民币。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.10 比权网采用买卖申报逐笔连续撮合的竞价方式。期权竞价交易按照价格优先、系统平仓优先、投资者平仓优先、时间优先的原则撮合成交。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">价格优先的原则为：较高价格买入申报优先于较低价格买入申报，较低价格卖出申报优先于较高价格卖出申报。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">系统平仓优先的原则为：买卖方向相同、价格相同的，系统平仓的申报优先于投资者平仓的申报。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">投资者平仓优先的原则为：买卖方向相同、价格相同的，均为投资者申报的，平仓的申报优先于投资者开仓的申报。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">时间优先的原则为：买卖方向、价格相同的，先接受的申报优先于后接受的申报。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2.11买卖申报经本平台撮合成交后，交易即告成立，依照本规则达成的交易于成立时生效，买卖双方必须承认交易结果，履行结算义务，本规则另有规定的除外。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">依照本规则达成的交易，其成交结果以本平台所记录的成交数据为准。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3．结算、熔断及其他事项</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3.1&nbsp;期权合约的开盘价为该合约统计时段的第一笔成交价格。期权合约的收盘价为该合约统计时段的最后一笔成交价格，无成交的，以上一统计时段的收盘价为该统计时段收盘价。期权合约挂牌第一统计时段无成交的，以本平台公布的开盘参考价为第一统计时段的收盘价。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3.2&nbsp;期权合约最后交易日为实值合约的，本平台根据合约标的16点整的结算价格和该合约行权价格及合约单位，计算该合约的结算价格；期权合约最后交易日为虚值或者平值合约的，结算价格为0。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3.3&nbsp;期权合约挂牌首日，以本平台公布的开盘参考价为合约前结算价格。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3.4&nbsp;期权合约交易实行价格熔断制度。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">交易价格触及5分钟内最低价的1.5倍时，启动上涨熔断机制。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">交易价格触及5分钟内最高价的0.5倍时，启动下跌熔断机制。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">熔断时间为5分钟，5分钟后恢复正常价格。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">期权成交价格在合约单位比特币价格3%以上，启动熔断机制跟踪。比如，比特币的认购期权行权价为2000元，合约单位为0.1比特币，则合约单位比特币价格为200元。则认购期权成交价格在6元以上时启动熔断机制跟踪，认购期权成交价格低于6元时，系统不启动熔断机制跟踪，但此时上涨熔断价格为9元，下跌熔断价格为0.1元。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3.5&nbsp;熔断机制启动与未启动报价处理的区别</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">熔断机制未启动时，系统接受任意价格的报价，若由于价格报的太高，导致系统在撮合过程中，按照价格优先的原则逐步成交的过程中，达到上涨熔断价格，而该报单的价格对应的成交量还有剩余的，若该报单为限价GFD的，剩余单子按照上涨熔断价格报出；若该报单为市价IOC，剩余的单子全部撤消；若该报单为市价剩余转限价的，剩余单子按照上涨熔断价格报出；若该报单为限价FOK的，剩余的单子全部撤消；若该报单为市价FOK的，则全部撤单。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">熔断机制未启动时，系统接受任意价格的报价，若由于价格报的太低，导致系统在撮合过程中，按照价格优先的原则逐步成交的过程中，达到下跌熔断价格，而该报单的价格对应单为市价IOC，剩余的单子全部撤消；若该报单为市价剩余转限价的，剩余单子按照下跌熔断价格报出；若该报单为限价FOK的，剩余的单子全部撤消；若该报单为市价FOK的，则全部撤单。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">上涨熔断机制启动时，系统接受所有的卖开和卖平委托，不再接受高于熔断价格的买开和买平委托。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">下跌熔断机制启动时，系统接受所有的买开委托和卖平委托，不再接受低于熔断价格的卖开和卖平委托。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">4．交易异常情况处置</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">4.1 因不可抗力、意外事件、技术故障、重大差错或者市场操纵等原因，导致或者可能导致部分或者全部期权交易不能正常进行，或者因合约标的大幅波动等原因导致或者可能导致期权市场出现重大风险的，本平台可以按照规定的权限与程序采取下列风险控制措施，并立即做出公告：</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(一) 暂时停止交易；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(二) 临时停市；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(三) 调整保证金标准；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(四) 调整合约熔断价格；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(五) 调整合约结算价格；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(六) 调整合约到期日及行权交割方式；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(七) 更正合约条款；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(八) 调整投资者的持仓限额；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(九) 限制投资者的期权交易；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(十) 要求投资者平仓；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(十一) 强行平仓；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(十二) 取消 交易；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(十三) 其他风险控制措施。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">4.2&nbsp;发生下列情形之一的，本平台可以采取暂时停止交易措施：</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(一) 期权交易价格出现重大异常波动；</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(二) 期权交易或者合约标的交易涉嫌存在违法违规行为，对期权交易秩序可能产生严重影响。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">(三) 平台认定的其他异常情形。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">暂停及恢复交易的时间由平台决定，并予以公告。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">4.3&nbsp;暂时停止交易、临时停市以及限制投资者期权交易的原因消除后，本平台恢复交易，并向市场公告。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">除本平台认定的特殊情况外，暂时停止交易或临时停市后恢复交易的，暂时停止交易或临时停市前已经接受的申报有效，恢复成交时对已接受的申报按照集合竞价成交价格进行撮合。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">4.4&nbsp;因不可抗力、意外事件、技术故障或者重大差错等原因，导致期权合约条款、结算价格、合约单位、熔断价格、行权现金结算价格、开仓保证金标准以及期权交易相关的其他重要数据发生错误时，本平台可以对相关条款或者数据进行调整，并向市场公告。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">4.5&nbsp;因合约标的市场或者期权市场发生不可抗力、意外事件、技术故障以及重大差错，导致期权交易结果出现重大异常，按此交易结果进行结算将对期权交易正常秩序和市场公平造成重大影响的，本所可以采取取消交易等措施，并及时公告。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">违反本规则，严重破坏期权市场正常运行的交易，本所可以宣布取消，由此造成的损失由违规交易者承担。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">6 交易信息</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">6.1&nbsp;本平台发布期权交易即时行情、延时行情以及公开信息等交易信息。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">6.2&nbsp;本平台所产生的期权交易信息归平台所有，未经平台许可，任何机构和个人不得使用、加工、经营和传播。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">6.3&nbsp;期权合约停牌时，本平台发布的行情中包括该合约的信息；期权合约摘牌后，本平台不再发布该合约的信息。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">6.4&nbsp;期权合约到期的，本平台于行权日收盘后向市场公布期权合约的行权统计信息。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;font-weight:700;">四. 行权</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">1．行权结算价</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">比权网推出比特币指数。行权日16点整比特币指数为比权网期权合约行权的结算价。<span style="font-family:微软雅黑;line-height:20px;">比特币价格指数是通过采集3家比特币现货交易所（火币网、okcoin、比特币中国）的比特币最新成交价格，按照根据各个纳入交易所的综合影响力所确定的固定权重，统计出来的一个公允比特币价格指标，可以反映当前的比特币价格运行状况。比权网比特币期权合约将以该指数为标的，对比特币期权合约进行合约到期的交割。（具体可参考 &nbsp;<a href="https://www.bitsquan.com/home/btcindex" target="_self">https://www.bitsquan.com/home/btcindex</a>）</span></span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2．自动行权制度</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">比权网期权合约采用自动行权交割制度，不需权利持有人行权申报。行权时点为行权日16点整。若系统发生故障，则在故障排除后按照行权日16点整的价格指数对已到期的期权合约手动行权。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3．现金行权交割制度。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">认购期权行权交割时，若行权基准价&gt;行权价，持有权利仓的，系统按照两者的差额和持仓数量的乘积向权利仓持有人划入现金账户，持有义务仓的，系统按照两者的差额和持仓数量的乘积从义务仓持有人期权保证金账户中划出，若期权保证金账户人民币不足，则系统卖出比特币后划出。若行权基准价=&lt;行权价，系统不执行资金划转。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">认沽期权行权交割时，若行权基准价&lt;行权价，持有权利仓的，系统按照两者的差额和持仓数量的乘积向权利仓持有人划入现金账户，持有义务仓的，系统按照两者的差额和持仓数量的乘积从义务仓持有人期权保证金账户中划出，若期权保证金账户人民币不足，则系统卖出比特币后划出。若行权基准价&gt;=行权价，</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">期权行权交割完毕，期权价格一律为0，代码和持仓记录及操作记录保存一个星期后注销。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;font-weight:700;">五．风险控制</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">1．期权交易实行保证金制度。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">保证金用于结算和担保期权合约履行，包括结算准备金和交易保证金。交易保证金分为开仓保证金和维持保证金。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2．平台对每笔开仓申报实时计算相应的开仓保证金额度，并根据投资者的保证金余额数据，对卖出开仓申报进行校验。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3．保证金最低标准</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">维持保证金是期权交易保证金的最低保证金。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">比特币认购期权的维持保证金计算公式为：max{3X认购期权价格，(认购期权价格+10%X合约单位比特币价格)}</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">比特币认沽期权的维持保证金计算公式为：min{合约单位行权价，max[3X认沽期权价格，(认沽期权价格+10%X合约单位行权价)]}</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">维持保证金=认购期权维持保证金+认沽期权维持保证金。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">在有卖开委托的情况下，维持保证金=【(义务仓期权价格对应的维持保证金)+(卖开委托的期权价格对应的维持保证金)】</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">4．可开仓保证金与可用保证金</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">比权网对期权合约进行开仓必须持有可开仓保证金与可用保证金。他们与期权保证金的关系是：</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">可开仓保证金=可用保证金=期权保证金-1.2*维持保证金-保证金冻结</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">保证金冻结=买开委托冻结</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">5．保证率</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">比权网推出保证率概念。保证率=(期权保证金-保证金冻结)/维持保证金。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">当保证率小于1.1时，若投资者开通了保证金自动划转功能，系统将从现金账户划款到保证金账户。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">当保证率小于1时，投资者将发生爆仓。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">投资者卖开或买开后，保证率必须大于等于1.2。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-weight:700;font-size:16px;"><span style="font-family:微软雅黑, sans-serif;">六</span><span style="font-family:微软雅黑, sans-serif;">．爆仓前准备</span></span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">当保证率小于1.1时，且投资者设置了保证金自动转入功能，则系统自动从现金账户中划转资金到保证金账户，划转的金额为划转时所需维持保证的1/10，每次最少100元。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">保证率小于1时，系统将进行爆仓前准备，按顺序主要进行如下操作：卖开委托撤单，买开委托撤单，买平卖平委托撤单。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">卖开委托撤单。系统将按照“期限由近到远先认购后认沽认购行权价低优先认沽行权价高优先”的原则对投资者的卖开委托进行撤单，撤单后保证率大于1则不再撤单。同一份合约有多份卖开委托的情况下，价格相同的情况下，单子小的委托优先。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">买开委托撤单。系统将按照“期限由近到远先认购后认沽认购行权价低优先认沽行权价高优先”的原则对投资者的买开委托进行撤单，撤单后保证率大于1则不再撤单。同一份合约有多份买开委托的情况下，价格相同的情况下，单子小的委托优先。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">买平卖平委托撤单。若保证率小于1，且卖开买开委托已全部撤单，保证率继续小于1的，则系统对投资者的买平委托、卖平委托全部进行撤单。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;font-weight:700;">七．阶梯爆仓</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">1. &nbsp;爆仓时机和数量。投资者保证率小于1，将发生爆仓。比权网采用阶梯爆仓的方式。每次爆仓系统买平1/10的义务仓，买平后若保证率&gt;＝1，系统不再买平。买平时义务仓为1份以下的，系统全部买平。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">2. &nbsp;爆仓数量的计算规则。1/10的义务仓是按照义务仓所占用的维持保证金的数量计算的，比如，目前投资者义务仓所占用的维持保证金为100万元，且保证率&lt;1，则该次系统买平所释放的维持保证金为10万元。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">3.&nbsp;系统爆仓的顺序。按照“期限由近到远先认购后认沽认购行权价低优先认沽行权价高优先”的原则原则具体的爆仓合约。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">4.&nbsp;义务仓爆仓的处理方式。义务仓爆仓的过程中，系统将以市价IOC挂出平仓单。若准备买平的合约熔断价格已经启动，系统将立即使用候选的合约挂出平仓单。若所有可平仓合约都处于上涨熔断状态，系统将买平该投资者的所有合约。在爆仓过程中，系统将随时检查保证率状态，若出现保证率大于等于1，系统将立即全部撤单。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">若某份合约熔断结束时，系统将按照新的熔断价格挂出该份合约。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">系统爆仓买平时，不受每分钟100份的限制。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">5.&nbsp;爆仓过程中权利仓的处理。若保证率小于1，且义务仓的爆仓买平挂单均处于上涨熔断状态，或义务仓已全部处理完毕，扔拖欠系统资金的，应卖平投资者账户中的权利仓。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">权利仓爆仓的过程中，系统将以市价IOC挂出平仓单。若准备卖平的合约熔断价格已经启动，系统将立即使用候选的合约挂出平仓单。若所有可平仓合约都处于上涨熔断状态，系统将卖平该投资者的所有合约。在爆仓过程中，系统将随时检查保证率状态，若出现保证率大于等于1，系统将立即全部撤单。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">若某份合约熔断结束时，系统将按照新的熔断价格挂出该份合约。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">系统爆仓卖平时，不受每分钟100份的限制。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;font-weight:700;">八．系统亏损盈利客户分担原则</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">比权网采用保证金账户逐日盈亏结算制度，自0点起实时计算各账户盈亏金额，至当日24点整系统结算后盈亏均归0.</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">系统实行逐日系统亏损盈利客户分担原则。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">系统亏损由当日有盈利的客户分担，分担原则为按盈利比率分担。举例：若当日发生系统亏损100元，张三本日盈利100元，本日盈利的用户的总盈利为10000元，则张三承担的系统亏损为1元，由系统于当日24点从张三账户现金账户中扣除；现金账户无现金的，从期权保证金账户中扣除；期权保证金账户无现金的，买平权利仓；仍不足，由平台其他盈利客户分担。买平权利仓时，买平仓位仅以所承担的系统亏损为限。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">系统提供盈利客户承担系统亏损的日志，逐日记录客户承担的系统亏损。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">系统采用按自然日计算的原则。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">当日亏损客户不参与系统亏损的分担。</span>
            </p>
            <p style="color:#333333;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;text-indent:32px;background-color:#FFFFFF;">
                <span style="font-size:16px;font-family:微软雅黑, sans-serif;">每日保证金账户盈利部分，不能直接转入现金账户，需要等到每日24点整，系统结算后，方可转入现金账户。</span>
            </p>
            <div>
                <br />
            </div>
            <p>
                <br />
            </p>
            <p class="MsoNormal" style="text-indent:18pt;">
                <span style="font-family:宋体;font-size:12.0000pt;"></span><span style="font-family:宋体;font-size:12.0000pt;"></span>
            </p>
            <p class="MsoNormal" style="text-indent:24pt;">
                <span style="font-family:宋体;font-weight:bold;font-size:12.0000pt;"></span>
            </p>
        </div>
    </div>
</div>
