@{
    ViewBag.Title = "服务条款-最好的比特币期权交易平台";
}

<div class="box">
    <h2 class="article_title" style="margin: 0px 10px; padding: 10px; list-style: none; white-space: normal; font-family: 'helvetica neue', 'hiragino sans gb', stheiti, 'microsoft yahei', Tahoma, Arial, STHeiti, sans-serif; font-weight: 400; line-height: 40px; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 22px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); text-align: center; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 'Microsoft YaHei';">服务条款</span>
    </h2>
    <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;"><br /></span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">比权网（www.bitsquan.com）所提供的各项服务的所有权和运作权均归比权网络科技（上海）有限公司（以下简称“比权网”）所有。比权网服务条款（以下简称“本条款”）系由比权网用户与比权网就比权网的各项服务所订立的相关权利义务规范。用户通过访问和/或使用本网站，即表示接受并同意本协议的所有条件和条款。比权网作为比权网（www.bitsquan.com）的运营者依据本协议为用户提供服务。不愿接受本协议条款的，不得访问或使用本网站。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">比权网有权对本协议条款进行修改，修改后的协议一旦公布即有效代替原来的协议。用户可随时查阅最新协议。</span></span>
    </p>
    <h4 class="sub_title" style="margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; white-space: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
        一、服务条款
    </h4>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">1、比权网运用自己的系统，通过互联网络等方式为用户提供数字资产交易服务。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">2、用户必须自行准备如下设备和承担如下开支：（1）上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他上网装置；（2）上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">3、用户提供的注册资料，用户同意：（1）提供合法、真实、准确、详尽的个人资料； （2）如有变动，及时更新用户资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且比权网保留终止用户使用比权网各项服务的权利。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;"></span></span>
    </p>
    <h4 class="sub_title" style="white-space: normal; margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
        二、服务的提供、修改及终止
    </h4>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">1、用户在接受比权网各项服务的同时，同意接受比权网提供的各类信息服务。用户在此授权比权网可以向其电子邮件、手机、通信地址等发送商业信息。 用户有权选择不接受比权网提供的各类信息服务，并进入比权网相关页面进行更改。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">2、比权网保留随时修改或中断服务而不需通知用户的权利。比权网有权行使修改或中断服务的权利，不需对用户或任何无直接关系的第三方负责。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">3、用户对本协议的修改有异议，或对比权网的服务不满，可以行使如下权利：</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（1）停止使用比权网的网络服务；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（2）通过客服等渠道告知比权网停止对其服务。 结束服务后，用户使用比权网网络服务的权利立即终止。在此情况下，比权网没有义务传送任何未处理的信息或未完成的服务给用户或任何无直接关系的第三方。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;"></span></span>
    </p>
    <h4 class="sub_title" style="white-space: normal; margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
        三、用户信息的保密
    </h4>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">1、本协议所称之比权网用户信息是指符合法律、法规及相关规定，并符合下述范围的信息：</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（1）用户注册比权网或申请比权网会员时，向比权网提供的个人信息；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（2）用户在使用比权网服务、参加网站活动或访问网站网页时，比权网自动接收并记录的用户浏览器端或手机客户端数据，包括但不限于IP地址、网站Cookie中的资料及用户要求取用的网页记录；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（3）比权网从商业伙伴处合法获取的用户个人信息；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（4）其它比权网通过合法途径获取的用户个人信息。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">2、比权网承诺：</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">非经法定原因或用户事先许可，比权网不会向任何第三方透露用户的密码、姓名、手机号码等非公开信息</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">3、在下述法定情况下，用户的个人信息将会被部分或全部披露：</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（1）经用户同意向用户本人或其他第三方披露；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（2）根据法律、法规等相关规定，或行政机构要求，向行政、司法机构或其他法律规定的第三方披露；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（3）其它比权网根据法律、法规等相关规定进行的披露。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;"></span></span>
    </p>
    <h4 class="sub_title" style="white-space: normal; margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
        四、用户权利
    </h4>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">1、用户的用户名、密码和安全性</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（1）用户有权选择是否成为比权网会员，用户选择成为比权网注册用户的，须使用电子信箱地址作为比权网的会员名。使用的电子信箱地址应遵守相关法律法规并符合网络道德。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（2）用户一旦注册成功，成为比权网的会员，将得到用户邮箱（用户名）和密码，并对以此组用户信箱（用户名）和密码登入系统后所发生的所有活动和事件负责，自行承担一切使用该电子信箱（用户名）的言语、行为等而直接或者间接导致的法律责任。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（3）用户有义务妥善保管比权网账号、电子信箱（用户名）和密码、短信验证码，用户将对电子信箱（用户名）和密码负全部责任。因用户原因导致电子信箱(用户名)或密码泄露而造成的任何法律后果由用户本人负责，由于用户自身原因泄露这些信息导致的财产损失，本站不负相关责任。由于本站是交易网站，登录密码、提现密码、交易密码、短信密码等不得使用相同密码，否则会有安全隐患，相关责任由用户自身承担。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（4）用户密码遗失的，可以通过注册电子邮箱发送的链接重置密码或以手机号码注册的用户可以凭借手机号码找回原密码。用户若发现任何非法使用电子信箱（用户名）或存在其他安全漏洞的情况，应立即告知比权网。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（5）比权网不会向任何用户索取密码，不会让用户往任何非本站交易中心里提供的帐户、数字资产充值地址打款，请大家不要相信任何比权网打折、优惠等诈骗信息，往非比权网交易平台提供的账户、地址里打款或币造成的损失本站不负责任。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">2、用户有权根据网站相关规定，在发布信息等贡献后，取得比权网给予的奖励；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">3、用户有权修改其个人账户中各项可修改信息，自行决定是否提供非必填项的内容；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">4、用户有权根据网站相关规定，获得比权网给与的奖励（如实物奖励或会员积分等）；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">5、用户有权参加比权网组织提供的各项线上、线下活动；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">6、用户有权根据比权网网站规定，享受比权网提供的其它各类服务。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;"></span></span>
    </p>
    <h4 class="sub_title" style="white-space: normal; margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
        五、用户义务
    </h4>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">1、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（1）煽动抗拒、破坏宪法和法律、行政法规实施的；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（2）煽动颠覆国家政权，推翻社会主义制度的；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（3）煽动分裂国家、破坏国家统一的；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（4）煽动民族仇恨、民族歧视，破坏民族团结的；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（5）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（6）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（7）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（8）损害国家机关信誉的；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（9）其他违反宪法和法律行政法规的；</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">（10）进行商业广告行为的。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">2、用户不得通过任何手段恶意注册比权网网站帐号，包括但不限于以牟利、炒作、套现、获奖等为目的多个账号注册。用户亦不得盗用其他用户帐号。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">如用户违反上述规定，则比权网有权直接采取一切必要的措施，包括但不限于删除用户发布的内容、取消用户在网站获得的星级、荣誉以及虚拟财富，暂停或查封用户帐号，取消因违规所获利益，乃至通过诉讼形式追究用户法律责任等。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">3、禁止用户将比权网以任何形式作为从事各种非法活动的场所、平台或媒介。未经比权网的授权或许可，用户不得借用本站的名义从事任何商业活动，也不得以任何形式将比权网作为从事商业活动的场所、平台或媒介。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">如用户违反上述规定，则比权网有权直接采取一切必要的措施，包括但不限于删除用户发布的内容、取消用户在网站获得的星级、荣誉以及虚拟财富，暂停或查封用户帐号，取消因违规所获利益，乃至通过诉讼形式追究用户法律责任等。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">4、用户在比权网以各种形式发布的一切信息，均应符合国家法律法规等相关规定及网站相关规定，符合社会公序良俗，并不侵犯任何第三方主体的合法权益，否则用户自行承担因此产生的一切法律后果，且比权网因此受到的损失，有权向用户追偿。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">5.&nbsp;用户不得以虚构事实等方式恶意诋毁比权网的商誉。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;"></span></span>
    </p>
    <h4 class="sub_title" style="white-space: normal; margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
        六、拒绝担保与免责
    </h4>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">1、比权网作为“网络服务提供者”的第三方平台，不担保网站平台上的信息及服务能充分满足用户的需求。对于用户在接受比权网的服务过程中可能遇到的错误、侮辱、诽谤、不作为、淫秽、色情或亵渎事件，比权网不承担法律责任。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">2、基于互联网的特殊性，比权网也不担保服务不会受中断，对服务的及时性、安全性都不作担保，不承担非因比权网导致的责任。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">比权网力图使用户能对本网站进行安全访问和使用，但比权网不声明也不保证本网站或其服务器是不含病毒或其它潜在有害因素的；因此用户应使用业界公认的软件查杀任何自比权网下载文件中的病毒。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">3、比权网不对用户所发布信息的保存、修改、删除或储存失败负责。对网站上的非因比权网故意所导致的排字错误、疏忽等不承担责任。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">比权网有权但无义务，改善或更正本网站任何部分之疏漏、错误。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">4、除非比权网以书面形式明确约定，比权网对于用户以任何方式（包括但不限于包含、经由、连接或下载）从本网站所获得的任何内容信息，包括但不限于广告等，不保证其准确性、完整性、可靠性；对于用户因本网站上的内容信息而购买、获取的任何产品、服务、信息或资料，比权网不承担责任。用户自行承担使用本网站信息内容所导致的风险。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">5、比权网网内所有用户所发表的用户评论，仅代表用户个人观点，并不表示本网站赞同其观点或证实其描述，本网站不承担用户评论引发的任何法律责任。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">6、比权网有权删除比权网网内各类不符合法律或协议规定的信息，而保留不通知用户的权利。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">7、所有发给用户的通告，比权网都将通过正式的页面公告、站内信、电子邮件、客服电话、手机短信或常规的信件送达。任何非经比权网正规渠道获得的中奖、优惠等活动或信息，比权网不承担法律责任。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">8、比权网有权根据市场情况调整充值、提现、交易等手续费费率，有权决定免费推广期的终止。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;"></span></span>
    </p>
    <h4 class="sub_title" style="white-space: normal; margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
        七、适用法律和裁判地点
    </h4>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">1、因用户使用比权网网站而引起或与之相关的一切争议、权利主张或其它事项，均受中华人民共和国法律的管辖。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">2、用户和比权网发生争议的，应首先本着诚信原则通过协商加以解决。如果协商不成，则应向比权网所在地人民法院提起诉讼。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;"></span></span>
    </p>
    <h4 class="sub_title" style="white-space: normal; margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
        八、可分性
    </h4>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">如果本协议的任何条款被视为不合法、无效或因任何原因而无法执行，则此等规定应视为可分割，不影响任何其它条款的法律效力。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;"></span></span>
    </p>
    <h4 class="sub_title" style="white-space: normal; margin: 10px 0px 20px; padding: 8px; list-style: none; line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51); text-rendering: optimizelegibility; font-size: 17.5px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(238, 238, 238);">
        九、冲突选择
    </h4>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; list-style: none; word-wrap: break-word; color: rgb(102, 102, 102); font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 12px; white-space: normal; text-indent: 32px; line-height: 29px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-size: 16px;"><span style="margin: 0px; padding: 0px; font-size: 14px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px;">本协议是比权网与用户注册成为比权网用户，使用比权网服务之间的重要法律文件，比权网或者用户的任何其他书面或者口头意思表示与本协议不一致的，均应当以本协议为准。</span></span>
    </p>
    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 10px; list-style: none; word-wrap: break-word; white-space: normal; text-indent: 2em; line-height: 1.8; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
        <span style="margin: 0px; padding: 0px; font-family: 微软雅黑, 宋体, Arial; line-height: 22px; text-indent: 2em;"><br /></span><br />
    </p>
    <p>
        <br />
    </p>
    <p>
        <br />
    </p>
</div>

