@{Layout = null;}
<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="比权网,比特币期权,比特币交易,比特币期权交易,比特币期权交易平台,比特币交易平台,比特币行情,比特币交易" name="keywords" />
    <meta content="比权网是中国最专业的比特币期权交易平台,我们采用ssl、冷存储、gslb、分布式服务器等先进技术，确保比特币交易的安全、快捷、稳定。致力于打造最专业的比特币中国期权交易平台" />
    <title>比权网-最好的比特币期权交易平台</title>
    <link href="~/Scripts/bs-3.3.4/css/bootstrap.css" rel="stylesheet" />

</head>

<body>
   <div class="container">
       <div class="h3" style="margin-top:30px;">
           比权网是国内首家比特币期权交易平台，平台旨在为用户提供安全、便捷、可靠的虚拟货币现货、期权交易服务，用户可在比权网进行比特币交易不同期权合约套利等操作，体验一站式期权交易服务。
       </div>
       <h1>即将上线 敬请期待</h1>
       <div class="btn-group btn-group-justified">
           <a href="/home/index" class="btn btn-primary btn-lg">点击进入模拟盘</a> 
       </div> 
       
   </div>
    
  
</body>
</html>