

<style>
    /*重置*/
    * {
        font-family: "微软雅黑";
        font-size: 14px;
        border: 0px;
        text-decoration: none;
        list-style: none;
        margin: 0;
        text-decoration: none;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    img {
        border: none;
    }

    i {
        font-style: normal;
    }

    .box {
        width: 1000px;
        border: 1px solid #c2c2c2;
        margin: 0 auto;
    }


    .title {
        background-color: #f2f2f2;
        border-bottom: 1px solid #c2c2c2;
        line-height: 30px;
        padding-left: 20px;
    }



    input {
        height: 30px;
        border: 1px solid #c2c2c2;
        margin-left: 10px;
    }

    .email {
    }

    .pass {
        margin-bottom: 20px;
        line-height: 30px;
        margin-left: 358px;
        height: 30px;
    }

        .pass select {
            border: 1px solid #c2c2c2;
            height: 30px;
            margin-left: 10px;
        }

    .nub {
        margin-bottom: 20px;
        line-height: 30px;
        margin-left: 358px;
        height: 30px;
    }

    .password {
        margin-bottom: 20px;
        line-height: 30px;
        margin-left: 414px;
        height: 30px;
    }

        .password a {
            margin-left: 8px;
            font-size: 12px;
            color: #f36c1a;
        }

    .sub input {
        width: 80px;
        background-color: #4171b8;
        border: none;
        color: white;
        margin-left: 50%;
        margin-bottom: 90px;
    }

    .border {
        border-bottom: 4px solid #666;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .codeBody {
        width: 1000px;
        margin: 0 auto;
    }

    /* .codeSpanBg{ */
    /* 	background:url("/image/code/findcode.gif") no-repeat scroll -20px 0px transparent; */
    /* 	height:18px; */
    /* 	line-height:18px; */
    /* 	padding-left:30px; */
    /* 	display:inline-block; */
    /* 	font-size:14px; */
    /* 	font-weight:300; */
    /* 	margin-top:10px; */
    /* } */

    .codeMainBody {
        widht: 1000px;
        border: 1px solid #e1e1e1;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 350px;
    }

        .codeMainBody span.content-1 {
            height: 35px;
            line-height: 60px;
            width: 230px;
        }

        .codeMainBody span.content-2 {
            height: 35px;
            line-height: 60px;
        }

        .codeMainBody .inputName {
            width: 240px;
            padding-left: 10px;
            height: 32px;
            line-height: 32px;
        }

        .codeMainBody .inputImage {
            width: 110px;
            padding-left: 10px;
            height: 32px;
            line-height: 32px;
        }


        .codeMainBody .codepicture {
            background: #ff0000;
            height: 32px;
            line-height: 32px;
            display: inline-block;
            width: 110px;
            margin-left: 15px;
        }

    .codeButton {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        text-align: center;
        width: 170px;
        height: 32px;
        line-height: 32px;
        background: #1279b4;
        margin-top: 10px;
    }

        .codeButton:hover {
            color: #fff;
            text-decoration: none;
            background: #1487c8;
        }

    .mod-sub-nav {
        background: url("/Content/images/Lightcodebg.png") no-repeat scroll 0 0 transparent;
        color: #418DDA;
        font: 16px/36px 微软雅黑,黑体;
        height: 36px;
        margin: 30px 0 20px;
        width: 695px;
        margin: 0px auto;
    }


        .mod-sub-nav li {
            float: left;
            padding-left: 40px;
        }

    .mod-sub-list1 {
        width: 190px;
    }

    .mod-sub-list2 {
        width: 202px;
    }

    .mod-sub-nav li.list1-active {
        background: url("/Content/images/codebg1.png") no-repeat scroll 0 0 transparent;
        color: #FFFFFF;
    }

    .mod-sub-nav li.list2-active {
        background: url("/Content/images/codebg2.png") no-repeat scroll 0 0 transparent;
        color: #FFFFFF;
        margin-left: -16px;
        padding-left: 56px;
        width: 202px;
    }

    .mod-sub-nav li.list3-active {
        background: url("/Content/images/codebg3.png") no-repeat scroll 0 0 transparent;
        color: #FFFFFF;
        margin-left: -16px;
        padding-left: 56px;
        width: 183px;
    }

    .Information {
        margin: 30px auto;
        width: 650px;
        padding-left: 100px;
    }

        .Information .wordTitle {
            display: inline-block;
            width: 190px;
            text-align: right;
            padding-right: 10px;
        }

        .Information span.generality {
            height: 55px;
            line-height: 55px;
            font-size: 16px;
            font-weight: 300;
        }

        .Information .generality2 {
            height: 24px;
            line-height: 24px;
            font-size: 16px;
            font-weight: 300;
        }

        .Information .generality3 {
            color: red;
            font-size: 13px;
            margin-left: 205px;
            height: 18px;
            line-height: 18px;
        }

        .Information span.leftDistance1 {
            margin-left: 95px;
        }

        .Information span.leftDistance2 {
            margin-left: 15px;
        }

        .Information span.leftDistance3 {
            margin-left: 30px;
        }

        .Information span.leftDistance5 {
            margin-left: 30px;
        }

        .Information span.leftDistance6 {
            margin-left: 45px;
        }

        .Information span.leftDistance7 {
            margin-left: 35px;
        }

        .Information .leftDistance4 {
            margin-right: 10px;
            height: 30px;
        }

        .Information span.leftDistance2 .radio {
            margin-left: 10px;
            margin-right: 5px;
        }

        .Information span.leftDistance2 .radio2 {
            margin-left: 158px;
            margin-right: 5px;
        }

        .Information span.number {
            margin-left: 10px;
        }

        .Information .inputName {
            width: 240px;
            padding-left: 10px;
            height: 32px;
            line-height: 32px;
        }

    .codeSearchButton {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        text-align: center;
        width: 130px;
        height: 32px;
        line-height: 32px;
        background: #1279b4;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid #fff;
    }

        .codeSearchButton:hover {
            color: #fff;
            text-decoration: none;
            background: #1487c8;
        }

    .codeResetButton {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        text-align: center;
        width: 250px;
        height: 32px;
        line-height: 32px;
        background: #329ddc;
        border: 1px solid #329ddc;
        margin-left: 203px;
        margin-top: 10px;
    }

    .restPasswordBody .checkCode {
        background: #329ddc;
        border: 1px solid #329ddc;
        color: #fff;
        height: 32px;
        line-height: 32px;
        font-weight: 700;
    }

    .codeResetButton:hover {
        color: #fff;
        text-decoration: none;
        background: #1487c8;
    }

    .restPasswordBody .checkCode:hover {
        background: #1487c8;
    }

    .connphone {
        padding: 30px 0;
    }

    .codeSearchMainBody {
        width: 1000px;
        border: 1px solid #e1e1e1;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 550px;
    }

    .email-tip {
        margin: 50px 0 0 150px;
    }

    .infoBox .tit {
        font-weight: 700;
        font-size: 18px;
        color: #333;
        padding-left: 70px;
        background: url(../Content/images/icon3png.png) no-repeat;
        line-height: 54px;
    }

    .wrap {
        color: #777;
    }

    .main {
        width: 990px;
        margin: 0 auto;
        font-family: "微软雅黑";
        font-weight: 400;
    }

    .inpBtn {
        background: url(../Content/images/main.png) repeat-x 0 -57px;
        height: 38px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid #e9880e;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        font-family: "微软雅黑";
        text-align: center;
    }

    .infoBox .inpBtn {
        width: 128px;
        margin-right: 10px;
        vertical-align: middle;
    }

    .infoBox .email {
        color: #ff8100;
        font-weight: 400;
    }

    .infoBox .subMeg {
        line-height: 32px;
        padding-left: 13px;
        text-indent: -13px;
    }

    .blue, .blue a {
        color: #639bd4;
    }

        .blue:hover, .blue a:hover {
            color: #f60;
        }
</style>
<script>
    function fun() {
        $("#ranCode")[0].src = $("#ranCode")[0].src + "?" + Math.random;
    }

</script>
<div class="border"></div>

<div class="codeBody">
    <div class="codeSearchMainBody">
        <ul class="mod-sub-nav">
            <li class="mod-sub-list1 list1-active">确认账户</li>
            <li class="mod-sub-list2 " style="padding-left:75px">重设登录密码</li>
            <li class="mod-sub-list3 " style="padding-left:120px">修改成功 </li>
        </ul>

        <div class="Information">
            <span class="generality">您的登录邮箱:</span>
            <br>
            <span class="generality"><input id="txtEmail" name="txtEmail" onblur="validate()" class="inputName" type="text" style="margin-left:0px" /> </span><span style="color:red" id="error"></span>
            <br>
            <span class="generality">验证码: </span> <img src="/Account/getCode" id="ranCode" style="cursor: pointer;vertical-align: middle;margin-bottom:4px;" alt="看不清楚，换一张">
            <a href="#" onclick="fun()" style="color: #1b66c7">换一张</a>
            <br>
            <input id="txtCode" onblur="validate2()" class="inputName" type="text" style="margin-left:0px"><span style="color:red" id="error2"></span>
            <br>
            <span class="generality"><input class="codeSearchButton" id="btn-submit" value="提交" style="cursor: pointer;" type="button"></span>
            <span id="emailMsg" class="red generality">&nbsp;&nbsp;</span>
        </div>

        <div class="email-tip" style="display:none;">
            <div class="wrap clearfix">
                <div class="main clearfix content">
                    <div class="infoBox">
                        <div class="infoTxt">
                            <p class="tit">
                                验证邮件已经发送到您的邮箱：<span class="email" id="email"></span>
                            </p>
                            <p class="meg" style="margin-left:70px">请登录您的邮箱，点击邮件中的确认链接重置密码</p>
                            <div class="dBtn">
                                <input name="toEmail" class="inpBtn" value="登录该邮箱" id="loginBtn" type="button" style="margin-left:70px">
                                @*邮箱写错了？ <a href="http://my.pcauto.com.cn/passport/edit_email.jsp" class="blue">换个邮箱</a>*@
                            </div>
                            <p class="subTit" style="margin-left:280px;font-size:16px;">
                                <span>或去 </span><a href="/home/index" style="color:#874ebf;font-size:18px;">主页</a>
                            </p>

                            <p class="subTit" style="margin-left:70px">没有收到验证邮件？</p>
                            <p class="subMeg" style="margin-left:70px">到垃圾邮件目录找找，重新发送验证邮件请 <span class="blue" onclick="SendEmail3()" style="cursor:pointer ">点击这里</span></p>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



@*<p class="title">找回登录密码</p>
    <div class="email"><label>邮箱地址<input type="text" id="txtEmail" onblur="validate()"></label><span style="color:red" id="error"></span></div>
    <div class="password" style="border: 0px solid red">
        <label> 验证码<input type="text" id="txtCode" onblur="validate2()"></label><img alt="验证码图片" id="img" src="/Account/getCode" style="width: 60px; height: 30px; margin-bottom: 3px;margin-left:25px" />
        <a href="#" onclick="fun()" style="color: #1b66c7">换一张</a>&nbsp;&nbsp;&nbsp;<span style="color:red" id="error2"></span>
    </div>

    <div class="sub"><input type="submit" value="确定" id="loginBtn"></div>*@


<script type="text/javascript">

    $(function () {
        $("#btn-submit").click(function () {
            var bb = SendEmail();
            if (bb == "False" || bb == false) {
                return;
            } else {
                $("#email").text($("#txtEmail").val());
                $(".email-tip").show();
                $(".Information").hide();
            }
        });
        $("#loginBtn").click(function () {
            var uurl = $("#txtEmail").val();
            uurl = gotoEmail(uurl);
            if (uurl != "") {
                location = "http://" + uurl;
            } else {
                alert("抱歉!未找到对应的邮箱登录地址，请自己登录邮箱查看邮件！");
            }
        });
        var Request = new Object();
        Request = GetRequest();
        $('#email').text((Request['email']));
    })

    //验证
    function validate() {
        $("#error").html("");
        var val = $("#txtEmail").val();
        if (val == "" || val == null) {
            $("#error").html("邮箱不能为空");
            return;
        }
    }

    function validate2() {
        $("#error2").html("");
        var val = $("#txtCode").val();
        if (val == "" || val == null) {
            $("#error2").html("验证码数不能为空");
            return;
        }
    }

    function GetRequest() {

        var url = location.search; //获取url中"?"符后的字串

        var theRequest = new Object();

        if (url.indexOf("?") != -1) {

            var str = url.substr(1);

            strs = str.split("&");

            for (var i = 0; i < strs.length; i++) {

                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);

            }

        }

        return theRequest;

    }
    //功能：根据用户输入的Email跳转到相应的电子邮箱首页
    function gotoEmail(email) {

        var $t = email.substring(email.indexOf('@@') + 1, email.lastIndexOf('m') + 1);
        $t = $t.toLowerCase();
        if ($t == "163.com") {
            return 'mail.163.com';
        } else if ($t == 'vip.163.com') {
            return 'vip.163.com';
        } else if ($t == '126.com') {
            return 'mail.126.com';
        } else if ($t == 'qq.com' || $t == 'vip.qq.com' || $t == 'foxmail.com') {
            return 'mail.qq.com';
        } else if ($t == 'gmail.com') {
            return 'mail.google.com';
        } else if ($t == 'sohu.com') {
            return 'mail.sohu.com';
        } else if ($t == 'tom.com') {
            return 'mail.tom.com';
        } else if ($t == 'vip.sina.com') {
            return 'vip.sina.com';
        } else if ($t == 'sina.com.cn' || $t == 'sina.com') {
            return 'mail.sina.com.cn';
        } else if ($t == 'tom.com') {
            return 'mail.tom.com';
        } else if ($t == 'yahoo.com.cn' || $t == 'yahoo.cn') {
            return 'mail.cn.yahoo.com';
        } else if ($t == 'tom.com') {
            return 'mail.tom.com';
        } else if ($t == 'yeah.net') {
            return 'www.yeah.net';
        } else if ($t == '21cn.com') {
            return 'mail.21cn.com';
        } else if ($t == 'hotmail.com') {
            return 'www.hotmail.com';
        } else if ($t == 'sogou.com') {
            return 'mail.sogou.com';
        } else if ($t == '188.com') {
            return 'www.188.com';
        } else if ($t == '139.com') {
            return 'mail.10086.cn';
        } else if ($t == '189.cn') {
            return 'webmail15.189.cn/webmail';
        } else if ($t == 'wo.com.cn') {
            return 'mail.wo.com.cn/smsmail';
        } else if ($t == '139.com') {
            return 'mail.10086.cn';
        } else {
            return '';
        }
        return '';
    };


    function SendEmail() {
        var r = false;
        $("#error").html("");
        var code = $("#txtCode").val();
        var email = $("#txtEmail").val();
        if (email != "") {
            $.ajax({
                url: "/Account/SendEmail3",
                async: false, // 注意此处需要同步，因为返回完数据后，下面才能让结果的第一条selected
                type: "post",
                dataType: "json",
                data: { "email": email, "code": code },
                success: function (d) {
                    if (d.Desc != null && d.Desc != "") {
                        if (d.Desc == "该邮箱未注册") {
                            $("#error").html(d.Desc);
                        } else {
                            $("#error2").html(d.Desc);
                        }
                        r = false;
                    } else {
                        r = true;
                    }
                }
            });
            return r;
        }
    }
    function SendEmail3() {
        $.post(
            "/Account/SendEmail3",
            {
                "email": $("#txtEmail").val(),
                "code": $("#txtCode").val()
            }
        );
    }

</script>
