
@{
     
}

<h3>用户和权限管理</h3>
<div style="width:400px;text-align:center;margin:auto;">


    <div class="btn-group btn-group-justified btn-group-lg">
        @Html.ActionLink("角色", "roles", null, new { @class = "btn btn-success" })
        @Html.ActionLink("用户", "users", null, new { @class = "btn btn-danger" })
    </div>
</div>
