

<style>
    /*重置*/
    * {
        border: none;
        font-style: normal;
        font-family: "微软雅黑";
        font-size: 14px;
        border: 0px;
        text-decoration: none;
        list-style: none;
        margin: 0;
        text-decoration: none;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    /*页眉*/

    .loding {
        overflow: hidden;
        background-color: #000;
    }

        .loding div {
            width: 1000px;
            margin: 0 auto;
        }

        .loding p {
            line-height: 36px;
            font-family: "微软雅黑";
            font-size: 14px;
            float: left;
            width: 750px;
            color: #FFF;
            display: block;
        }

        .loding a {
            line-height: 36px;
            font-family: "微软雅黑";
            font-size: 14px;
            float: left;
            margin-left: 110px;
            color: #FFF;
        }


    /*导航和LOGO*/
    .logobox {
        width: 1000px;
        margin: 0 auto;
    }

    .nav_logo {
        overflow: hidden;
    }

    .logo {
        float: left;
        padding-top: 24px;
    }

    .nav {
        float: left;
        margin-left: 400px;
    }

        .nav a {
            font-family: "微软雅黑";
            font-size: 16px;
            color: #545454;
            margin-left: 30px;
            line-height: 50px;
        }

            .nav a:hover {
                color: #559be9;
            }

    .border {
        border-bottom: 4px solid #666666;
        margin-bottom: 20px;
    }


    /*内容*/
    .box {
        overflow: hidden;
        margin: 0 auto;
        width: 1000px;
    }

    .leftnavbox {
        float: left;
    }

    .rightbox {
        float: left;
        margin-left: 18px;
        margin-top: 10px;
    }
    /*左侧导航*/
    .leftnav {
        background-color: #f2f2f2;
        border: 1px solid #c2c2c2;
        width: 158px;
        height: 330px;
    }

        .leftnav li a {
            width: 158px;
            display: block;
            font-family: "微软雅黑";
            font-size: 14px;
            color: #535353;
            line-height: 40px;
            text-indent: 24px;
        }

        .leftnav li .funds_center {
            font-family: "微软雅黑";
            font-size: 16px;
            color: #535353;
            line-height: 45px;
            background-image: url(../Content/images/border.png);
            background-repeat: no-repeat;
            background-position: bottom;
        }

        .leftnav li .prompta:hover {
            color: white;
        }

        .leftnav .prompt:hover {
            background-color: #559be9;
        }

    /*右侧内容*/
    .phone {
        font-family: "微软雅黑";
        font-weight: 400;
        font-size: 18px;
        color: #666666;
        display: block;
        margin: 0 auto;
        width: 100px;
    }

    input {
        margin-bottom: 20px;
        line-height: 30px;
        margin-left: 10px;
        width: 175px;
        color: #535353;
        height: 30px;
    }

    .phonebox {
        border: 1px solid #c2c2c2;
        margin-top: 10px;
        width: 820px;
    }

    .title {
        margin-left: 100px;
        margin-top: 30px;
    }

    .title2 {
        font-size: 12px;
        margin-left: 100px;
    }

        .title2 span {
            font-size: 14px;
            font-weight: bold;
            color: #80c269;
        }

    .submit1 {
        width: 126px;
        background-color: #559be9;
        color: white;
        border: 1px solid #5daaff;
    }

    .submit2 {
        width: 100px;
        background-color: #559be9;
        color: white;
        border: 1px solid #5daaff;
        cursor: pointer;
    }

    .submit3 {
        background-color: #559be9;
        color: white;
        border: 1px solid #5daaff;
        margin-left: 100px;
        margin-bottom: 30px;
        cursor: pointer;
        line-height: 30px;
        height: 30px;
        vertical-align: middle;
        margin-top: 30px;
    }

    .title1 {
        margin-left: 100px;
        padding-left: 32px;
        color: #80c269;
        line-height: 26px;
        margin-top: 40px;
        font-size: 16px;
        background: url(../Content/images/icon2.png) no-repeat;
    }

    .tiele2 {
        margin-left: 266px;
    }

    .tiele3 {
        margin-left: 270px;
    }
    /*页脚*/
    .footer {
        overflow: hidden;
        width: 1000px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .about {
        float: left;
        width: 284px;
    }

        .about p {
            font-family: "宋体";
            font-size: 12px;
            line-height: 26px;
            color: white;
            padding-top: 18px;
        }

    .boofborder {
        float: left;
        margin: 0 10px 0 10px;
    }

    .weixin {
        float: left;
        width: 232px;
    }

    .footer img {
        display: block;
        padding-right: 40px;
    }

    .contact li {
        font-family: "宋体";
        font-size: 12px;
        color: #e4e4e4;
        line-height: 26px;
    }

    .footerbox {
        background-color: #535353;
        margin-top: 152px;
    }

    .contact .help li a {
        font-family: "宋体";
        font-size: 12px;
        color: #e4e4e4;
        line-height: 40px;
        margin-right: 12px;
    }

    .contact .help li {
        float: left;
    }

    .contact .contactimg {
        display: block;
        padding-bottom: 14px;
    }

    .qq a {
        float: left;
        font-size: 12px;
        font-family: "宋体";
    }

    .qq {
        overflow: hidden;
    }
</style>



            <!--右侧内容-->

                @*<p class="phone">谷歌验证</p>*@
                <div class="phonebox">
                    <ul>

                        <li class="title1">您的谷歌验证已启用</li>


                        <li class="title">谷歌验证密码<input type="text" onmouseout="this.style.border='1px solid #c2c2c2'" onmouseover="this.style.border='1px solid #559be9'" style="border:1px solid #c2c2c2"></li>
                        <li class="title2">确保您的手机时间与北京时间<span> 2015-01-04 13：48：26 </span>校队一致（精确到分钟即可） </li>
                        <li><input class="submit3" type="submit" value="取消谷歌验证"></li>
                    </ul>
                </div>


     