<style>
    * {
        font-family: "微软雅黑";
        font-size: 14px;
        border: 0px;
        nima-decoration: none;
        list-style: none;
        margin: 0;
        nima-decoration: none;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        color: #535353;
    }

    img {
        border: none;
    }

    i {
        font-style: normal;
    }



    /*左侧导航*/
    .leftnav {
        background-color: #f2f2f2;
        border: 1px solid #c2c2c2;
        width: 158px;
        height: 330px;
    }

        .leftnav li a {
            width: 158px;
            display: block;
            font-family: "微软雅黑";
            font-size: 14px;
            color: #535353;
            line-height: 40px;
            nima-indent: 24px;
        }

        .leftnav li .funds_center {
            font-family: "微软雅黑";
            font-size: 16px;
            color: #535353;
            line-height: 45px;
            background-image: url(images/border.png);
            background-repeat: no-repeat;
            background-position: bottom;
        }

        .leftnav li .prompta:hover {
            color: white;
        }

        .leftnav .prompt:hover {
            background-color: #559be9;
        }

    .leftnavbox {
        float: left;
    }

    .rightbox_gg {
        float: left;
        margin-left: 18px;
        margin-top: 10px;
    }

    .box_gg {
        overflow: hidden;
        /*width: 1000px;*/
        margin: 0 auto;
    }





    .rightbox_gg .gg {
        padding-bottom: 10px;
        font-family: "微软雅黑";
        font-weight: 400;
        font-size: 18px;
        color: #666666;
        margin: 0 auto;
        width: 120px;
    }

    .title {
        font-size: 16px;
        line-height: 18px;
        color: #535353;
    }

    .nima {
        color: #535353;
        font-size: 12px;
        line-height: 22px;
        margin-left: 60px;
    }


    .one {
        border: 1px solid #c2c2c2;
        padding: 20px 20px 20px 20px;
        width: 760px;
        margin-bottom: 20px;
    }

    .title1 {
        font-size: 16px;
        line-height: 20px;
    }

        .title1 span {
            font-size: 20px;
            margin-right: 8px;
            color: #cf0f0f;
        }

    .googel {
        float: left;
    }

        .googel img {
            display: block;
        }

    .phone {
        float: left;
        margin-left: 10px;
    }

    .onebox {
        overflow: hidden;
        margin-left: 60px;
    }

    .phone p {
        line-height: 24px;
        font-size: 12px;
    }

        .phone p a {
            color: #4171b8;
            margin-left: 10px;
        }

    .nima span {
        font-size: 14px;
        color: #4171b8;
        font-weight: bold;
    }

    .nima i {
        font-size: 14px;
        color: #4171b8;
        font-weight: bold;
    }

    .password {
        height: 20px;
        line-height: 20px;
        border: 1px solid #c2c2c2;
    }

    .text1 input {
        width: 100px;
        height: 30px;
        line-height: 20px;
        background-color: #4171b8;
        color: white;
        margin-left: 60px;
        margin-top: 10px;
    }


    .rightbox_gg p {
        width: 100%;
    }

    .one .nima {
        color: #535353;
        font-size: 12px;
        line-height: 22px;
        margin-left: 60px;
    }


</style>








<div id="lod_gg">

    <div class="box_gg">







        <div class="rightbox_gg">
            @*<p class="gg">谷歌验证</p>*@
            <!--第一步-->
            <div class="one">
                <p class="title">您的账户未启用谷歌验证</p>
                <p class="nima">Google Authenticator双重验证可以更安全的保护您的账户，未开户双重验证不影响正常的交易</p>
                <p class="nima">开户双重验证功能后，在您每次进行提现操作时，系统都会提示您输入手机应用程序上显示的一次性密码，来确保您的资金安全。</p>
                <p class="nima">您可以依照下面的步骤来设置并启用这一功能。</p>
            </div>


            <!--第二步-->
            <div class="one">
                <p class="title1">
                    <span>No1</span>安装双重验证程序：Google Authenticator

                    <div class="onebox">
                        <div class="googel"><img src="images/googel.png"></div>
                        <div class="phone">
                <p>Iphone手机：在您的手机上安装双重验证程序：Google Authenticator <a href="#">查看</a> </p>
                <p>Android手机：在应用市场中搜索“谷歌身份验证器”，或搜索Google Authenticator <a href="#">查看</a></p>
                <p>Nokia手机：不支持扫描二维码，可手动输入密钥<a href="#">查看</a></p>
            </div>
        </div>
    </div>
    <!--第三步-->

    <div class="one">
        <p class="title1"><span>No2</span>安装完成后，您需要对该应用程序进行如下配置</p>
        <p class="nima">在“Google Authenticator (身份验证器)”应用程序中，点击“添加新账户 (iOS 下是 + 号)”，然后选择“扫描条形码”。</p>
        <p class="nima">将手机上的相机镜头对准下图扫描该条形码。</p>
        <p style="width:110px;height:110px;border:1px solid red;margin-left:60px"><img></p>
        <p class="nima">如果您无法扫描成功上图的条形码，您还可以手动添加账户，并输入如下密匙：<span>TUY53G4AGU6U2RVH</span></p>
    </div>


    <!--第四步-->

    <div class="one">
        <p class="title1"><span>No3</span>配置完成</p>
        <p class="nima">配置完成后，手机上会显示一个 6 位数字，每隔 30 秒变化一次。这个数字即为您的双重验证密码。</p>

        <p class="nima" style="color:#cf0f0f">请勿删除此双重验证密码账户，否则会导致您无法进行账户操作</p>
        <p class="nima">您可将密钥记录下来：<i>TUY53G4AGU6U2RVH</i>如果误删，可通过手动输入密钥来恢复。</p>

        <p class="nima">输入双重验证密码，以开启或关闭双重验证功能</p>

        <p class="nima">双重验证密码：<input type="nima" class="password">&nbsp;&nbsp;请输入手机应用程序上显示的双重验证密码</p>
        <p class="nima">确保您的手机时间与北京时间 <span style="font-size:14px; font-weight:bold;color:#6C3">2015-01-04 14:21:35</span> 校对一致（精确到分钟即可）</p>
        <p class="nima">
            配置验证的模块：
            <label>
                <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0">
                登录
            </label>

            <label>
                <input type="checkbox" name="CheckboxGroup1_" value="复选框" id="CheckboxGroup1_1">
                交易
            </label>
            <label>
                <input type="checkbox" name="CheckboxGroup1_" value="复选框" id="CheckboxGroup1_1">
                资金转
            </label>
        </p>
        <p class="text1"><input type="submit" value="验证并启用"></p>


    </div>


</div>