    <!--右侧内容(注册后的第一次访问)-->
<form>
    <p class="Biao"><span class="possword"></span>设置交易密码</p>
    <div class="posswordbox_ts">
        <ul>
            <li class="title_ts"><p>为确保您的账户财产安全，请牢记您的交易密码且不要轻易泄漏给他人</p></li>
            <li class="title1_ts"><p>交易密码<input type="text" name="登录密码" onmouseout="this.style.border='1px solid #c2c2c2'" onmouseover="this.style.border='1px solid #559be9'" style="border:1px solid #c2c2c2"></p></li>
            <li class="title2_ts"><p>确认交易密码<input type="text" name="新登录密码" onmouseout="this.style.border='1px solid #c2c2c2'" onmouseover="this.style.border='1px solid #559be9'" style="border:1px solid #c2c2c2"></p></li>

            <li class="tiele4_ts"><input class="tiele4_ts" type="submit" value="确定" onclick="Tran()" /></li>
        </ul>
    </div>
</form>

