@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Com.BitsQuan.Option.Ui.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
     

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}
     
<header >
    <div  >
        <div  >
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" >
   
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
