
@{
  
}

<h3>后台主页</h3>
<style>
    p{
        line-height:1.5em;
        font-size:1.2em;
        font-weight:900;
        color:#2f0a49;
    }
</style>
<div style="height:600px;margin:20px;padding:20px;">
    <p>
        此测试版每天固定下午5点更新;使用中的问题可随时沟通.
    </p>
    <p>
        后台主要包括:合约管理,用户管理,货币管理,帮助管理和数据查看(查看交易中的委托,爆仓数据等)
    </p>
    <p>
        前台主页仅仅是个样子,需要设计
    </p>

    <p>交易员角色有100个账户可用,从hello0,hello1...到hello99,密码123456</p>
    <p>后台共有四个角色:"资金管理员", "权限管理员", "网站管理员", "交易管理员",对应用户名关键字分别为"cachemgr", "authmgr", "sitemgr", "trademgr"</p>
    <p>每个角色有2个用户,其用户名和密码都是名称关键字后加0或1</p>
    <p>登录后台管理主页用sitemgr,交易用hello</p>
    <p class="lead" style="color:#0094ff;">
        api帮助文档:<a class="btn btn-danger"  href="/help">点击打开api帮助文档</a> 可根据文档描述调用api(目前仅支持http方式,且仅get请求)
    </p>
</div>



