<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">基本信息</a>
        </li>
        <li role="presentation">
            <a href="#bank" aria-controls="bank" role="tab" data-toggle="tab">银行账户余额</a>
        </li>
        <li role="presentation">
            <a href="#address" aria-controls="address" role="tab" data-toggle="tab">BTC提现地址管理</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="basic">
        </div>
        <div role="tabpanel" class="tab-pane" id="bank">
         
        </div>
        <div role="tabpanel" class="tab-pane" id="address">
           
        </div>
    </div>
</div>